@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  font-size: 62.5%;
}

html body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
  margin: 0;
  color: #262626;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(154, 194, 212, 0.212)), to(rgba(154, 194, 212, 0.288)));
  background: linear-gradient(rgba(154, 194, 212, 0.212), rgba(154, 194, 212, 0.288));
  /*********************************PRODUCT PAGE **************************************************/
  /************************************ page connexion **************************************/
  /************************************ page profil **************************************/
}

html body header {
  padding: 30px;
}

html body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body header nav a {
  text-decoration: none;
  color: #262626;
}

html body header nav a img {
  width: 80px;
  height: 80px;
  margin-top: -20px;
}

html body header nav .user {
  padding: 0 20px;
  font-size: 2rem;
}

html body header nav a:hover {
  color: rgba(154, 195, 212, 0.651);
}

html body header nav .titre {
  font-size: 3rem;
}

html body main {
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 40px;
}

html body main .titre {
  padding-top: 20px;
  font-size: 2rem;
  text-align: center;
}

html body main form {
  font-size: 1.3rem;
  text-align: center;
  width: 70%;
  margin: auto;
  border-radius: 40px;
}

html body main form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body main form input,
html body main form button {
  text-align: center;
  margin: 10px;
  padding: 7px;
  border-radius: 40px;
}

html body main form button {
  background-color: #9ac4d4;
}

html body main .nouveaux {
  padding: 50px 0;
  margin: 10px 20px;
  text-align: center;
}

html body main .nouveaux .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

html body main .nouveaux .container .product {
  background-color: rgba(154, 195, 212, 0.651);
  padding: 0;
  margin: 20px;
  border-radius: 40px;
}

html body main .nouveaux .container .product img {
  width: 100%;
  border-radius: 40px;
}

html body .product_page {
  padding: 40px;
}

html body .product_page .mySlides {
  display: none;
  width: 550px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-left: 170px;
  margin-top: -320px;
}

html body .product_page .cursor {
  cursor: pointer;
}

html body .product_page .demo {
  opacity: 0.4;
  width: 80px !important;
  margin: 10px;
}

html body .product_page .active,
html body .product_page .demo:hover {
  opacity: 1;
}

html body .product_page .right-column {
  float: right;
  margin-top: -420px;
  padding-right: 70px;
  text-align: center;
}

html body .product_page .right-column .traitementReservation {
  margin-top: 40px;
}

html body .product_page .right-column .traitementReservation button {
  margin: 10px;
  margin-top: 30px;
  padding: 7px;
  border-radius: 40px;
  background-color: #9ac4d4;
}

html body #connexion {
  padding: 10px;
  text-align: center;
}

html body #connexion .compte {
  margin: 10px 0;
}

html body #connexion .compte a {
  color: #9ac4d4;
}

html body #connexion .compte a:hover {
  color: #80ceec;
}

html body .profil .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  text-align: center;
  padding: 20px;
}

html body .profil .container .left-column img {
  width: 40%;
}

html body .profil .container .right-column h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body .profil .container .right-column h2 p {
  margin: 10px;
}

html body .profil .favoris {
  text-align: center;
  padding-top: 20px;
}

html body .profil .favoris .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
}

html body .profil .favoris .container .product {
  background-color: rgba(154, 195, 212, 0.651);
  padding: 0;
  margin: 20px;
  border-radius: 40px;
}

html body .profil .favoris .container .product img {
  width: 100%;
  border-radius: 40px;
}

html body .profil .favoris .container .product button {
  border: none;
  background-color: rgba(154, 194, 212, 0);
}

html body .profil .favoris .container .product button i {
  color: red;
}
/*# sourceMappingURL=style.css.map */