@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-size: 62.5%;

    body {
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        line-height: 1.8;
        margin: 0;
        color: #262626;

        header {
            padding: 30px;

            nav {
                display: flex;
                justify-content: space-between;

                a {
                    text-decoration: none;
                    color: #262626;
                }

                a:hover {
                    color: rgba(154, 195, 212, 0.651);
                }

                .titre {
                    font-size: 3rem;
                }
            }
        }

        main {
            form {
                font-size: 1.3rem;
                text-align: center;
                width: 40%;
                margin: auto;
                border: solid rgb(154, 196, 212) 1px;
                border-radius: 40px;
                background-color: rgba(154, 195, 212, 0.651);

                div {
                    display: flex;
                    justify-content: space-around;
                }

                input,
                button {
                    text-align: center;
                    margin: 10px;
                    padding: 5px;
                    border-radius: 40px;
                }
            }

            .nouveaux {
                margin: 50px;
                text-align: center;

                .container {
                    display: flex;
                    justify-content: space-around;
                    text-align: center;

                    .product {
                        background-color: rgba(154, 195, 212, 0.651);
                        padding: 0;
                        margin: 20px;
                        border-radius: 40px;

                        img {
                            width: 100%;
                            border-radius: 40px;
                        }
                    }
                }
            }
        }
    }

}